.hidden {
    display: none;

}

button {
    font-size: medium;
}

#main-dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 10vh;
    background-image : linear-gradient(rgb(255, 94, 87), rgb(60, 64, 198));
    width : 80vw;
    border-radius: 20px;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-title {
    margin-top: 5vh;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 80vw;
}

#main-title h1 {
    font-size: xx-large;
}

.myclock {
    position: absolute;
    right : 3%;
    top: 3%;
    font-size: medium;
}

#loginform input:first-child {
    font-size: xx-large;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 5px;
    border: 2px solid blue;
    border-radius: 4px;
}

#loginform input::placeholder{
    font-size : 30px; 
    text-align: center;

}


#login_name {
    font-size: 50px;
}

#loginform input:last-child {
    font-size: xx-large;
    padding-top: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
    
}


#todoform input {
    font-size: xx-large;
    border: 2px solid blue;
    border-radius: 4px;
    padding-left: 5px;
}

#todoform input::placeholder {
    font-size: 20px;
    
}


#todobutton {
    font-size: xx-large;
}


#weather {
    position: absolute;
    bottom: 5%;
    right: 3%;
}

#clear {
    margin-top: 3px;
    margin-bottom: 3px;
}

button {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
  }